<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешно | SSB</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <header class="header">
        <div class="wrapper">
            SCAM SPAM
        </div>
    </header>
    <main class="wrapper">
        <div class="block-page">
            <h1>Успешно зарегистрировано!</h1>
            <p>Вы должны немного подождать для применения изменений (примерно 2 дня)</p>
        </div>
    </main>
    <script src="/static/js/index.js"></script>
</body>
</html>